@charset "utf-8";
/*reset start*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none}
html{font-size:16px}
body{font-family:"微软雅黑",arial,sans-serif; background:#e6e6e6;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;font-style: normal;font-weight: normal;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{color:#333;outline:0;}
body *{-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0)}
.clearfix:after{content:".";display:block;overflow:hidden;height:0;clear:both;visibility:hidden;}
* html .clearfix{height:1%;}
input,textarea,select{outline: none; -webkit-appearance:none;}
.clearOver{overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}

body{
    background-color: #efeff4;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.overlay{
    background-color: rgba(0,0,0,.7);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 45px;
    display: block;
}
.loading-img{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 45px;
    left: 0;
    display: block;
}
.loading-img img{
    width: 15%;
    height: auto;
    margin: 70% 42.5% 30% 42.5%;
}
.header{
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 45px;
    position: fixed;
    background-color: #fff;
}
.header .header-bg{
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: #ff6900;
}
.header .header-bg .header-title{
    font-size: 16px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    height: 45px;
    line-height: 45px;

}
.header .header-list{
    width: 100%;
    height: 45px;
    background-color: #fff;
}
.header .header-list .header-list-style{
    width: 18%;
    height: 45px;
    text-align: center;
    float: left;
}
.header .header-list .header-list-style-l{
    width: 28%;
    height: 45px;
    text-align: center;
    float: left;
}
.header .header-list .header-list-style-l .header-list-style-b{
    width: auto;
    margin: auto auto;
    height: 42px;
    line-height: 42px;
    text-align: center;
}
.header .header-list .header-list-style .header-list-style-b{
    width: auto;
    margin: auto auto;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.clicked{
    border-bottom: 3px solid #ff6900;
    color: #ff6900;
}
.header .header-list .header-list-style img{
    margin-top: 20px;
}
.header .header-list .header-list-style span{
    text-align: center;
    font-size: 14px;
}
.body-main{
    margin: 90px 0 24px;
}
.body-main-div{
    box-sizing: border-box;
    width: 50%;
}
.body-main-left{
    padding-right: 5px;
    float: left;
}
.body-main-right{
    padding-left: 5px;
    float: right;
}

.body-main .body-main-show{
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    padding-bottom: 30px;
    box-shadow: 1px 1px 1px #ccc;
    position: relative;
}
.body-main .body-main-show img{
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
.body-main .body-main-show .body-main-show-font{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    color: #555;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #fff;
}
.body-main .body-main-show .body-main-show-font span{
    font-size:12px;
}

.no-result{
    float: left;
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
}
.no-result span{
    height: 33px;
    background-image: url(../image/cry.png);
    background-repeat: no-repeat;
    font-size: 12px;
    color: #999;
    padding-top: 4px;
    padding-left: 30px;
    background-size: 22px;
}